apiVersion: v1
kind: Service
metadata:
  name: podscope
  namespace: podscope
  labels:
    app: podscope
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: podscope
